# --- Superseedr Config ---
# Ignore the local environment file
.env


# --- local temp---
tmp
*.tmp
integration_tests/test_output/

# --- macOS ---
.DS_Store

# --- Editor Specific ---
# Ignore VSCode workspace settings
.vscode/

# --- Rust / Cargo ---
# Ignore build artifacts
/target/
rust-toolchain

# --- VPN Credentials ---
# Block these sensitive filenames ANYWHERE they appear
.gluetun.env

# BUT, explicitly UN-ignore (with '!') the template files
!.gluetun.env.example

# --- Safety Net ---
# Ignore common torrent/media files ANYWHERE in the repo
# in case of accidental downloads to the project root.
*.mkv
*.mp4
*.avi
*.mov
*.flv
*.iso
*.img
*.zip
*.rar
*.7z
*.tar
*.gz
*.nfo
